<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <%= form_with url: reset_passwords_path, method: :post, local: true do %>
        <div class="card mt-2">
          <div class="card-header">
            <h1>Forgot your password?</h1>
          </div>
          <div class="card-body">
            <% if @jwt_token.present? %>
              <p>Enter your account email. We’ve initiated a secure flow.</p>

              <div class="mb-2">
                <label class="form-label" for="email">Email</label>
                <%= email_field_tag :email, nil, required: true, autocomplete: "email", class: "form-control" %>
              </div>

              <cap-widget id="cap"
                          data-cap-api-endpoint="<%= Rails.application.credentials.jwt.api_url %>"
                          data-cap-token-field-name='cap_token'
                          data-cap-nonce-field-name='cap_nonce'
                          data-cap-jwt-token=<%= @jwt_token %>></cap-widget>
            <% else %>
              <p>We couldn’t start the password reset flow right now. Please refresh and try again.</p>
            <% end %>
          </div>
          <div class="card-footer">
            <% if @jwt_token.present? %>
              <div style="margin-top: 1rem;">
                <%= submit_tag "Verify and Continue" %>
              </div>
            <% else %>
              <a class='btn btn-danger' href="/">Try again</a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
